MYSQL_PORT=
MYSQL_DATABASE=
MYSQL_USER=
MYSQL_PASSWORD=
MYSQL_ROOT_PASSWORD=
SERVER_PORT=
DATABASE_HOST=
DATABASE_PORT=
SPRING_JPA_HIBERNATE_DDL_AUTO=

# JWT
JWT_SECRET=
JWT_EXPIRATION=86400000

# CORS
CORS_ALLOWED_ORIGINS=